<% include partial/header %>

<div class="row">
    <div class="col-sm-1"></div>
    <div id="graph" class="col-sm-10">Awesome graph will be here!</div>
    <div class="col-sm-1"></div>
</div>

<script>
    var HOST = location.origin.replace(/^http/, 'ws');
    console.log(HOST);
    var ws = new WebSocket(HOST);

    ws.onmessage = function (event) {
      console.log('Server time: ' + event.data);
    };
</script>

<script>
    var symbols = "<%=symbols%>".split(",");

    var dataToShow = [];
    <%for (var date in data){%>
        var obj = [];
        <%for(var key in data[date]){%>
            obj[0] = new Date("<%=date%>");
            obj[symbols.indexOf("<%=key%>")+1] = <%=data[date][key]%>;
            dataToShow.push(obj);
        <%}%>
    <%}%>

    google.charts.load('current', {'packages':['annotationchart']});
    google.charts.setOnLoadCallback(function() {
        drawChart(symbols, dataToShow);
    });

    function drawChart(symbols, data) {
        var dataTable = new google.visualization.DataTable();
        dataTable.addColumn('date', 'Date');
        for(var i=0; i<symbols.length; i++){
            dataTable.addColumn('number', symbols[i]);
        };
        dataTable.addRows(data);

    var chart = new google.visualization.AnnotationChart(document.getElementById('graph'));

        var options = {
          displayAnnotations: false,
          chart: {
            backgroundColor: "#2c2c2d",
            chartArea: {
              backgroundColor: "#2c2c2d"
            },
            colors: ['#fcf5fc', '#d6543f', '#b7eebc', '#eaa6c5', '#a0d8ec', '#f79c42',],
            lineWidth: 1,
            hAxis: {
                gridlines: {
                    color: 'transparent'
                },
                textStyle: {
                  fontSize : 12,
                  color: '#f9f8f4'
                },
            },
            vAxis: {
                baselineColor:'Red',
                gridlines: {
                    color: '#464e5d',
                    lineWidth: 0.5,
                },
                textStyle: {
                  fontSize : 12,
                  color: '#f9f8f4'
                },
            }
          }
        };

        chart.draw(dataTable, options);
    }


</script>

<div class="row">
    <ul id="stocks" class="col-md-12">
        <% for (var i=0; i < symbols.length; i++){%>
        <li class="col-md-4 col-sm-6">
            <div class="stock-wrapper">
                <h4><%= symbols[i]%></h4>
                <form action="removeStock" method="post">
                    <input type="hidden" name="symbol" value="<%=symbols[i]%>"/>
                    <span class="delStockIcon glyphicon glyphicon-remove-circle"></span>
                    <input type="submit" class="delStock" value="" onmouseout="mouseoutHandler(this)" onmouseover="mouseoverHandler(this)"/>
                </form>
            </div>
        </li>
        <%}%>
        <li class="col-md-4 col-sm-6" id="addStock">
            <div class="stock-wrapper">
                <form action="addStock" method="post">
                    <div class="input-group">
                        <input class="form-control" type="text" name="symbol"/>
                        <span class="input-group-btn">
                            <input class="btn" type="submit" value="add"/>
                        </span>
                    </div>
                </form>
            </div>

        </li>
    </ul>
</div>

<script>
    function mouseoverHandler(elem){
        var parent = elem.parentNode;
        var icon = parent.getElementsByTagName("span")[0];
        icon.style.color =  "#da8d77";
    };

    function mouseoutHandler(elem){
        var parent = elem.parentNode;
        var icon = parent.getElementsByTagName("span")[0];
        icon.style.color =  "#96aab7";
    };
</script>

<% include partial/footer %>