<% include partial/header %>

<div class="row">
    <div class="col-sm-1"></div>
    <div id="graph" class="col-sm-10">Awesome graph will be here!</div>
    <div class="col-sm-1"></div>
</div>

<script>

    // First load

    var symbols = "<%=symbols%>".split(",");
    var dataToShow = [];
    <%for (var date in data){%>
        var row = [];
        row[0] = new Date("<%=date%>");
        <%for(var key in data[date]){%>
            row[symbols.indexOf("<%=key%>")+1] = <%=data[date][key]%>;
        <%}%>
        dataToShow.push(row);
    <%}%>

    google.charts.load('current', {'packages':['annotationchart']});
    google.charts.setOnLoadCallback(function() {
        drawChart(symbols, dataToShow);
    });

    // Web sockets

    var HOST = location.origin.replace(/^http/, 'ws');
    var ws = new WebSocket(HOST);

    ws.onmessage = function (event) {
        // console.log("notification recieved");
        var dataRecieved = JSON.parse(event.data);

        symbols = dataRecieved.symbols;

        dataToShow = [];
        for (var date in dataRecieved.data){
            var row = [];
            row[0] = new Date(date);
            for(var key in dataRecieved.data[date]){
                row[symbols.indexOf(key)+1] = dataRecieved.data[date][key];
            }
            dataToShow.push(row);
        }

        if(symbols.length > 0){
            drawChart(symbols, dataToShow);
        }
    };

    function drawChart(symbols, data) {

        var dataTable = new google.visualization.DataTable();
        dataTable.addColumn('date', 'Date');
        for(var i=0; i<symbols.length; i++){
            dataTable.addColumn('number', symbols[i]);
        };
        dataTable.addRows(data);

        var chart = new google.visualization.AnnotationChart(document.getElementById('graph'));

        var options = {
          displayAnnotations: false,
          chart: {
            backgroundColor: "#2c2c2d",
            chartArea: {
              backgroundColor: "#2c2c2d"
            },
            colors: ['#fcf5fc', '#d6543f', '#b7eebc', '#eaa6c5', '#a0d8ec', '#f79c42',],
            lineWidth: 1,
            hAxis: {
                gridlines: {
                    color: 'transparent'
                },
                textStyle: {
                  fontSize : 12,
                  color: '#f9f8f4'
                },
            },
            vAxis: {
                baselineColor:'Red',
                gridlines: {
                    color: '#464e5d',
                    lineWidth: 0.5,
                },
                textStyle: {
                  fontSize : 12,
                  color: '#f9f8f4'
                },
            }
          }
        };

        chart.draw(dataTable, options);
    }
</script>


<div class="row">
    <ul id="stocks" class="col-md-12">
        <% for (var i=0; i < symbols.length; i++){%>
        <li class="col-md-4 col-sm-6">
            <div class="stock-wrapper">
                <h4><%= symbols[i]%></h4>
                <form>
                    <input type="hidden" name="symbol" value="<%=symbols[i]%>"/>
                    <span class="delStockIcon glyphicon glyphicon-remove-circle"></span>
                    <input class="delStock" value="" onclick="removeStock('<%=symbols[i]%>')" onmouseout="mouseoutHandler(this)" onmouseover="mouseoverHandler(this)"/>
                </form>
            </div>
        </li>
        <%}%>
        <li class="col-md-4 col-sm-6" id="addStock">
            <div class="stock-wrapper">
                <form onsubmit="addStock(this.children[0].children[0].value); return false">
                    <div class="input-group">
                        <input class="form-control" type="text" name="symbol"/>
                        <span class="input-group-btn">
                            <input type="submit" class="btn" value="add" />
                        </span>
                    </div>
                </form>
            </div>

        </li>
    </ul>
</div>

<script>

    function mouseoverHandler(elem){
        var parent = elem.parentNode;
        var icon = parent.getElementsByTagName("span")[0];
        icon.style.color =  "#da8d77";
    };

    function mouseoutHandler(elem){
        var parent = elem.parentNode;
        var icon = parent.getElementsByTagName("span")[0];
        icon.style.color =  "#96aab7";
    };

    function removeStock(symbol){
        console.log("remove stock: " + symbol);
        $.post("removeStock",
            { symbol: symbol },
            function(data, status){
                console.log("removeStosk - OK, \nStatus: " + status);
            })
            .fail(function(error){
                console.log("removeStosk - ERROR:  " + error);
            });
    }

    function addStock(symbol){
        console.log("add stock: " + symbol);
        $.post("addStock",
            { symbol: symbol },
            function(data, status){
                console.log("addStock - OK, \nStatus: " + status);
            })
            .fail(function(error){
                console.log("addStosk - ERROR:  " + error);
            });
        return false;
    }
</script>

<% include partial/footer %>